
.Grid-Wrapper {

    transition-duration: 0.2s;
    transition-property: background-color opacity;
}

.Grid-Wrapper > hr {
    border-top: 1px solid var(--main);
}

.Grid-Wrapper > img {
    /* max-width: calc(2*(100vw/8)); */
    /* max-height: calc(2*(100vh/8)); */
    /* max-width: 30vw;
    max-height: 30vh; */
    /* min-width: 200px;
    width: auto;
    height: auto;
    width: 1200px; */
}

.Main-Page-Item > * {

}


/* IMG SIZING */
.Img-1 {
    max-width: calc(1*(100vw/8));
    /* min-width: 200px; */
    width: auto;
    height: auto;
    width: 1200px;
}
.Img-2 {
    max-width: calc(2*(100vw/8));
    /* min-width: 200px; */
    width: auto;
    height: auto;
    width: 1200px;
}
.Img-3 {
    max-width: calc(3*(100vw/8));
    /* min-width: 200px; */
    width: auto;
    height: auto;
    width: 1200px;
}

/* TITLE */
.Grid-Title {
    display: flex;
    align-items: center;
    height: 100%;
    /* transform: translateY(-8px); */
}

.Grid-Title > h1 {
    font-family: "NeueMontreal";
    font-weight: bold;
    color: var(--main);
    font-size: 48px;
    text-transform: uppercase;
    padding: 12px;
    width: 100%;
    flex-grow: 1;
}

.Grid-Title > h1 > a {
    text-decoration: underline;
    text-underline-offset: 4px;
}
.Grid-Title > h1 > a:hover {
    background-color: var(--main);
    color: var(--light)
}

.Grid-Title-Small > h1 {
    font-size: 36px;
}

.Grid-Title-XSmall > h1 {
    font-size: 32px;
}

/* BASIC INFO */
.Grid-Basic-Info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* height: 100%; */
    color: var(--main);
    z-index: 4;
    position: relative;
}

.Grid-Basic-Info i {
    margin-bottom: 6px;
}

.Grid-Basic-Info p {
    margin-bottom: 4px;
}

.Grid-Basic-Info > .Source-Link {
    font-size: 13px;
}

/* BODY TEXT */
.Grid-Body-Text {
    margin: 18px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main);
    /* max-width: 800px; */
    /* height: 100% */
}

.Grid-Body-Text p {
    max-width: 640px;
}


/* BKG IMG ELEMENT */
.Grid-Bkg-Img {
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-size: contain;
    /* background-size: ; */
    /* background-repeat: no-repeat; */
    animation-duration: 1000s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #aaaaaa;
}

.Grid-Bkg-Horizontal {
    animation-name: bkg-pan;
}

@keyframes bkg-pan {
    from {
        background-position: 0;
    }

    to {
        background-position: 2000vw;
    }
}

.Grid-Bkg-Reverse {
    animation-name: bkg-pan-reverse;
}

@keyframes bkg-pan-reverse {
    from {
        background-position: 0;
    }

    to {
        background-position: -2000vw;
    }
}

.Grid-Bkg-Vertical {
    animation-name: bkg-scroll;
}

@keyframes bkg-scroll {
    from {
        background-position: 0 0 ;
    }

    to {
        background-position: 0 2000vw;
    }
}



.bkg-haggadah {
    background-image: url(../assets/images/technohaggadah-screenshot.png);
}

.bkg-filter {
    background-image: url(../assets/images/filter-screenshot.png);
}

.bkg-tinytown {
    background-image: url(../assets/images/tiny-town.jpg);
}

.bkg-flowers {
    background-image: url(../assets/images/fieldofdreams-flowers.svg);
}

.bkg-field {
    background-image: url(../assets/images/thefield.jpg);
}

.bkg-3d {
    background-image: url(../assets/images/3danatomy-duck.jpg);
}

.bkg-climate {
    background-image: url(../assets/images/climate-map.svg);
}

.bkg-bhs {
    background-image: url(../assets/images/bhs-front.jpg);
}



/* IMAGE CONTAINER AND IMAGES */
.Grid-Image-Container {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    padding-top: 8px;
    width: 100%;
}

.GImgCont-Large {
    height: 400px;
}

.Grid-Image-Container > img {
    /* width: 25%;
    width: auto;
    width: 40%; */
    /* max-width: 100%;
    max-height: 100%; */
    width: auto;
    height: auto;
    width: 70%;
    /* max-height: 400px; */
    display: block;
    flex-shrink: 1;
    min-width: 10px;
    /* margin */
    margin-right: 8px;
    margin-top: 8px;
}


.Grid-Body-List {
    color: var(--main);
}

.Grid-Body-List p {
    text-decoration: underline;
    margin-bottom: 8px;
}



@media (max-width: 860px) {
    .Grid-Title > h1 {
        font-size: 36px;
    }

    .Grid-Title-XSmall > h1 {
        font-size: 28px;
    }
}

@media (max-width: 600px){
    .Grid-Title > h1 {
        font-size: 30px;
    }

    .Grid-Title-XSmall > h1 {
        font-size: 20px;
    }

    .Grid-Image-Container > img {
        width: 90%;
    }
}