.Header {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    background-color: var(--main);
    align-items: center;
    min-height: 50px;
}

.Header-Wrapper {
    width: 100%;
    /* max-width: calc(100vw-(100vw/8)); */
    max-width: calc((100vw/8)*7);
    padding: 18px;
    padding-bottom: 0;
}

.Header-Wrapper > a {
    text-decoration: underline;
    color: white;
    font-size: 14px;
}


.Work-Page-Header-Cont {
    display: grid;
    grid-template-rows: calc(100vh/16);
    width: 100%;
}

.Work-Page-Header-Cont > .Header {
    padding-bottom: 18px;
    border-bottom: 1px solid var(--main);
    flex: 0 1 auto;
    grid-column: 1/9;
    min-height: 50px;
}


