.Header {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    background-color: var(--main);
    align-items: center;
    min-height: 50px;
}

.Header-Wrapper {
    width: 100%;
    max-width: 780px;
    padding: 18px;
    padding-bottom: 0;
}

.Header-Wrapper > a {
    text-decoration: underline;
    color: white;
    font-size: 14px;
}

