@font-face {
    font-family: "Montreal";
        src: url("/assets/PPNeueMontreal-Bold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Montreal";
        src: url("/assets/PPNeueMontreal-Medium.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montreal";
    src: url("/assets/PPNeueMontreal-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montreal";
        src: url("/assets/PPNeueMontreal-Italic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
}

:root {
    --main: #ff5c26;
    --light: white;
    --dark: black;
}

* {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-family: Montreal-Bold;
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    overscroll-behavior: none;
}

h1, h2, h3 {
    font-family: Montreal;
    font-weight: 900;
    color: var(--dark)
}

i {
    font-family: Montreal;
}

button {
    background: none;
    border: 1px solid var(--dark);
    padding: 8px;
    border-radius: 50px;
    font-family: Montreal;
}

button:hover {
    border-color: var(--light);
    color: var(--light);
}

.App {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.wrapper {
    /* width: 615px;
    margin: 0px 18px;
    height: 100vh;
    overflow: hidden; */
    /* margin: 24px 12px 24px 12px; */
}

.home-center {
    width: 100vw;
    background-color: var(--main);
}

.home-wrapper {
    width: 100%;
    max-width: 615px;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding: 24px;

}

.home-title {
    flex-grow: 1;
}

.home-title > * {
    text-align: center;
}

.home-title > h3 > i {
    color: white
}

.home-wrapper > nav {
    justify-self: flex-end;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}


/* States for retracting of homescreen/nav */

.not-retracted {
    height: 100vh;
}

.retracted {
    height: 20vh;
}


.retracted > .home-title > h1 {
    transition: all 0.5s;
    display: none;

}



/* State for base page */

.page {
    /* background-color: blue; */
    height: 80vh;
    overflow: scroll;
    padding: 18px;
    color: var(--light);
}

.page-wrapper {
    height: 100%;
    width: 100%;
    max-width: 615px;
}

.page-title {
    text-transform: capitalize;
    color: var(--main);
}