
:root {
    --main: #001aff;
    --dark: black;
    --light: rgb(255, 255, 255);
}

* {
    margin: 0px;
    font-family: Arial;
    box-sizing: border-box;

}

svg {
    pointer-events: none;
}

.cursor {
    /* transition: all 0.5s;
    transition-timing-function: linear; */
}

.Work-Page * {
    cursor: none;
}