
:root {
    --main: blue;
    --dark: black;
    --light: rgb(255, 255, 255);
}

* {
    margin: 0px;
    font-family: Arial;
    box-sizing: border-box;

}

svg {
    pointer-events: none;
}

h3 {
    font-weight: 100;
}

a {

}
a:visited,a:active {
    color: var(--main);
}
