
.Title {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--main); */
}

.Title-Retracted {
    position: relative;
    height: auto;
}



.Title-Retracted > .Title-Wrapper > .Sub-Title, .Title-Retracted > .Title-Wrapper > .Work-Button {
    display: none;
}

.Title-Wrapper {
    width: 100%;
    max-width: 780px;
    padding: 18px;
    color: var(--main);
}

.Title-Retracted > .Title-Wrapper {
    padding-bottom: 0;
    display: flex;
}


.Title-Wrapper > * {
    margin-bottom: 16px;
    display: block;
}

.Work-Button {
    margin-top: 16px;
    border: 1px solid var(--main);
    background-color: var(--light);
    color: var(--main);
    font-size: 16px;
    cursor: pointer;
}

.Title-Wrapper > button:hover {
    background-color: var(--main);
    color: var(--light);
}

.Main-Title {
    display: block;
}

.Title-Retracted > .Title-Wrapper > .Main-Title {
    margin-bottom: 0;
    cursor: pointer;
}

