
.Work-Page {
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: var(--light);
    overflow: hidden;
    /* filter: grayscale(1); */
}

/* .Work-Page > .Header {
    padding: 24px 0px 0px 0px;
    width: 100%;
    max-width: 780px;
} */

.Work-Wrapper {
    width: 100%;
    max-width: 780px;
    height: 100%;
    padding: 18px;
    /* display: flex; */
    flex-direction: column;
}

.Tags-Cont {
    display: flex;
    flex-wrap: wrap;
}

.Tags-Cont > p {
    margin: 0px 8px 8px 0px;
    color: var(--main);
    text-decoration: underline;
}

.Tag-Button {
    margin: 0px 8px 8px 0px;
    background-color: var(--light);
    border: 1px solid var(--main);
    color: var(--main);
    text-transform: capitalize;
    cursor: pointer;
}

.Tag-Button:hover {
    background-color: var(--main);
    color: var(--light);
}

.Tag-Active {
    background-color: var(--main);
    color: var(--light);
}


.Content-Cont {
    margin-top: 12px;
    overflow: scroll;
    height: 82%;
    display: flex;
    border: 1px solid var(--main);
    /* flex-wrap: wrap; */
}

.Content-Col {
    /* background-color: aqua; */
    width: 50%;
    padding: 4px;
}

.Content-Widget {
    color: var(--light);
    width: 60%;
    /* flex-shrink: 1; */
    /* height: 0%; */
    cursor: pointer;
    margin: 8px 8px 8px 0px;
    border: 1px solid var(--main);
}


.Content-Widget > div {
    /* background-color: var(--main); */

}
.Content-Widget > div > p {
    text-transform: capitalize;
    padding: 4px 4px 4px 4px;
    margin-top: -4px;
    /* background-color: var(--main); */
    color: var(--main);
    border-top: 1px solid var(--main);
}

.Content-Widget > div > img {
    width: 100%;

}

.Important-Widget {
    width: 100%;
}

.Important-Widget > div > p {
    color: var(--light);
    background-color: var(--main);
}


.Content-Popup {
    color: var(--main);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
    width: 100vw;
    height: 100vh;
    background: var(--light);
    display: flex;
    justify-content: center;
    padding: 12px;
    cursor: default;
}

.Content-Popup-X-Out {
    background-color: var(--main);
    border: 1px solid var(--main);
    color: var(--light);
    cursor: pointer;
}

.Content-Popup-X-Out:hover {
    background-color: var(--light);
    color: var(--main);
}

.X-Out-1 {
    border-right: none;
}

.X-Out-2 {
    border-left: none;
}

.Content-Wrapper {
    max-width: 650px;
    width: 100%;
    overflow: scroll;
    overscroll-behavior: none;
    border: 1px solid var(--main);
    padding: 12px;
}

.Content-Wrapper > h3 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 4px;
}

.Linked-Title {
    /* text-decoration: underline; */
    cursor: pointer;
    display: flex;
    width: 100%;
}

.Linked-Title:hover {
    background-color: var(--main);
    color: white;
}

.Content-Wrapper > p {
    margin-bottom: 16px;
    max-width: 400px;
}

.Content-Wrapper > i {
    margin-bottom: 12px;
    display: block;
}

.Content-Wrapper > img {
    width: 100%;
}

.Content-Wrapper > .Video-Container {
    margin-bottom: 4px;
}

@media only screen and (max-width: 500px) {

    .Tags-Cont > p {
        font-size: 24px;
    }

    .Tag-Button {
        font-size: 20px;
    }

    .Content-Cont {
        height: 65%;
    }
}


.About-Button {
    background-color: var(--light);
    border: 1px solid var(--main);
    color: var(--main);
    margin-top: 12px;
    font-size: 16px;
    /* flex-shrink: 1; */
    /* width: 50%; */
    
}

.About-Button:hover {
    background-color: var(--main);
    color: var(--light);

}
